# Configuración del Servidor Backend

# Puerto en el que corre la aplicación
PORT=3000

# Prefijo de API
API_PREFIX=/api

# Base de Datos
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=zzzz
DB_NAME=task_management_db


DB_SYNCHRONIZE=true

# Logging
DB_LOGGING=true

# Entorno
NODE_ENV=development

# JWT (para autenticación futura)
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION=24h
